/Data/api
/Data/frontend
/Architectural-Lens
/Tools/classes_zeeguu.dot
/Tools/api_package_hierarchy.png
/Tools/frontend_package_hierarchy.png
/Tools/minimal_call_graph.dot
/Tools/minimal_call_graph.png
/Tools/minimal_example.py
/Tools/zeeguu_call_graph.png
/Tools/api_complexity_heatmap.png
/Tools/api_hierarchy.png
/Tools/api_module_dependencies.png
/Tools/api_module_treemap.png
/Tools/api_package_complexity.png
/Tools/frontend_module_dependencies.png
/Data/web